.Dashboard2 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(240,244,246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Plan {
  width: 100%;
  max-width: 1400px;
  height: 700px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.SportPlan {
  position: relative; 
  width: 35%;
  height: 80%;
  margin: 2.5%;
  border-radius: 5%;
  background-color: rgb(66,150,203);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RecipesPlan {
  position: relative; 
  width: 35%;
  height: 80%;
  margin: 2.5%;
  border-radius: 5%;
  background-color: rgb(66,150,203);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SportPlan h1 {
  font-size: 25px;
  color: #fff;
  position: absolute; 
  top: 0; 
  left: 1; 
  padding: 10px; 
}

.RecipesPlan h1 {
  font-size: 25px;
  color: #fff;
  position: absolute; 
  top: 0; 
  left: 1; 
  padding: 10px; 
}


.button1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(66,150,203);
  color: #fff;
}

.button1:hover {
  cursor: pointer;
  background-color: rgb(70, 103, 212);
}
