/*
 * @Author: jack_KaiJing 
 * @Date: 2023-05-21 23:41:25 
 * @Last Modified by:   jack_KaiJing 
 * @Last Modified time: 2023-05-21 23:41:25 
 */
.Filter{
    margin: 10px 5px;
    border: 1px red solid;
    background-color: #f0f4f6;
}

.Filter a {
    border: 1px red solid;
    margin: 10px 5px;
}