/*
 * @Author: jack_KaiJing 
 * @Date: 2023-05-21 20:22:12 
 * @Last Modified by:   jack_KaiJing 
 * @Last Modified time: 2023-05-21 20:22:12 
 */
.pageWapper{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

